@media (max-width:1200px) {
    .header .container{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .popular__block{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 294px);
    }
    .popular__box,.popular__box2{
        grid-column: span 1;
        grid-row: span 1;
    }
    .lider__block{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 485px);
    }
    .news__block{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 470px);
        gap: 15px;
    }
}
@media (max-width:1100px) {
    .popular__block{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 294px);
        gap: 15px;
    }
    .popular__minibox1{
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: auto;
    }
    .footer__block{
        flex-wrap: wrap;
        justify-content: center;
        gap: 80px;
    }
}
@media (max-width:992px) {
    .header__div1{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}
@media (max-width:768px) {
    .header{
        margin-top: 30px;
    }
    .header__list{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }
    #ru{
        margin-left: 0;
    }
    .lider__block{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 485px);
    }
}
@media (max-width:576px) {
    .news__title,.news__text,.news__time{
        left: 30px;
    }
    .news__title,.news__text{
        width: auto;
        right: 30px;
    }
    .popular__text{
        text-align: center;
    }
    .popular__block{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 294px);
    }
    .popular__box2{
        grid-row: span 2;
    }
    .popular__minibox{
        flex-direction: column;
        gap: 50px;
    }
    .footer__box{
        gap: 80px;
    }
}
@media (max-width:400px) {
    .footer{
        padding: 50px 0 40px 0;
    }
    .footer__box{
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 40px;
    }
    .footer__title{
        margin-bottom: 20px;
    }
    .lider__title{
        text-align: center;
    }
    .footer__block{
        gap: 40px;
    }
    .popular__minibox{
        gap: 70px;
    }
    .news,.lider__block,.lider,.popular{
        margin-bottom: 30px;
    }
    .news__block{
        grid-template-rows: repeat(2, 380px);
    }
    .news__title{
        font-size: 18px;
        top: 85px;
    }
    .news__text{
        font-size: 16px;
        top: 165px;
    }
    .news__time{
        top: auto;
        bottom: 20px;
    }
    .news__title,.news__text,.news__link,.news__time{
        left: 15px;
    }
}